// sass-lint:disable no-qualifying-elements force-attribute-nesting
button,
.button,
input[type='submit'] {
  appearance: none;
  background-color: $brand-primary;
  border: 0;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: 600;
  line-height: 1;
  padding: $spacing-vertical-xs $spacing-horizontal-xs;
  text-align: center;
  text-decoration: none;
  transition: background-color $transition-timing $transition-duration;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: lighten($brand-primary, 20%);
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $brand-primary;
    }
  }
}
