// Variables
//
// Variable format should follow the $[element]-[property]-[orientation]-[size] order.


// Table of contents
//
// Global
// -- Colors
// -- Borders
// -- Border radius
// -- Breakpoints
// -- Fonts
// -- Spacing
// -- Transitions
// Element
// -- Body
// -- Headings
// -- Inputs
// -- Labels
// -- Links
// -- Tables


// Colors
// ==================================================

$black: #1f2d3d;
$coal: #273444;
$slate: #3c4858;
$silver: #8492a6;
$smoke: #e0e6ed;
$snow: #f9fafc;
$white: #fff;

$brand-primary: $black;
$brand-secondary: $silver;
$brand-tertiary: $snow;


// Borders
// ==================================================

$border-color: $smoke;
$border-style: solid;

$border-width-base: .1rem;
$border-width-sm: $border-width-base / 2;
$border-width-lg: $border-width-base * 2;

$border: $border-style $border-width-base $border-color;


// Border radius
// ==================================================

$border-radius: .15em;


// Breakpoints
// ==================================================

$bp: (
  xs: 0,
  sm: 28em,
  md: 38.4em,
  lg: 48em,
  xl: 60em,
  xxl: 70em,
  xxxl: 88em
);


// Fonts
// ==================================================

$font-family-cursive: cursive;
$font-family-monospace: monospace;
$font-family-sans-serif: sans-serif;
$font-family-serif: serif;

$font-family: $font-family-sans-serif;

$line-height: 1.5;
$font-size-base: 1.25em;

$selection-color: $brand-primary;


// Spacing
// ==================================================

$spacing-horizontal: 1em;
$spacing-horizontal-lg: $spacing-horizontal * 2;
$spacing-horizontal-sm: $spacing-horizontal / 2;
$spacing-horizontal-xl: $spacing-horizontal * 4;
$spacing-horizontal-xs: $spacing-horizontal / 4;

$spacing-horizontal-fluid: 10%;
$spacing-horizontal-fluid-lg: $spacing-horizontal-fluid * 1.5;
$spacing-horizontal-fluid-sm: $spacing-horizontal-fluid / 1.5;

$spacing-horizontal-root: 5vw;

$spacing-vertical: .5em;
$spacing-vertical-lg: $spacing-vertical * 2;
$spacing-vertical-sm: $spacing-vertical / 2;
$spacing-vertical-xl: $spacing-vertical * 4;
$spacing-vertical-xs: $spacing-vertical / 4;

$spacing-vertical-fluid: 10%;
$spacing-vertical-fluid-lg: $spacing-vertical-fluid * 1.5;
$spacing-vertical-fluid-sm: $spacing-vertical-fluid / 1.5;

$spacing-vertical-root: 5vw;


// Transitions
// ==================================================

$transition-duration: 200ms;
$transition-timing: ease;


// Body
// ==================================================

$body-bg: $white;
$body-color: $slate;


// Headings
// ==================================================

$h1-font-size: 3rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1rem;
$h5-font-size: .9rem;
$h6-font-size: .75rem;

$heading-color: $black;
$heading-font-family: $font-family-serif;
$heading-font-weight: 600;
$heading-line-height: 1.1;


// Inputs
// ==================================================

$input-bg: $white;
$input-bg-disabled: $snow;

$input-border-color: $smoke;
$input-border-color-focus: $brand-primary;
$input-border-color-hover: darken($brand-primary, 15%);

$input-border-radius: $border-radius;

$input-box-shadow: none;

$input-color: $silver;
$input-color-placeholder: $smoke;

$input-padding-horizontal: $spacing-horizontal-sm;
$input-padding-vertical: $spacing-vertical-sm;


// Labels
// ==================================================

$label-color: inherit;
$label-font-size: .9rem;


// Links
// ==================================================

$link-color: $brand-primary;
$link-active-color: lighten($link-color, 15%);
$link-focus-color: lighten($link-color, 15%);
$link-hover-color: lighten($link-color, 15%);

$link-decoration: underline;
$link-hover-decoration: inherit;


// Tables
// ==================================================

$table-cell-padding: $spacing-vertical-sm $spacing-horizontal-sm;

$table-bg: transparent;

$table-border-color: $border-color;
$table-border-width: $border-width-base;

$table-border-collapse: true;
$table-layout-fixed: true;
