@import 'node_modules/highlight.js/styles/darkula';

@import 'variables';

.styleguide {
  display: flex;
  flex-direction: row;

  &__nav {
    background-color: $coal;
    flex: 0 1 auto;
    min-height: 100vh;
    width: 20%;

    &-header {
      color: $white;
      padding: $spacing-vertical 0;
      text-align: center;
    }

    &-link {
      color: $white;
      display: block;
      padding: $spacing-vertical / 2 0;
      text-align: center;

      &:hover,
      &:focus {
        background-color: $white;
      }
    }
  }

  &__content {
    flex: 0 1 auto;
    width: 80%;
  }

  &__component {
    border-bottom: $border-width-base * 2 $border-style $border-color;
    margin-bottom: $spacing-vertical * 2;
  }

  &__docs {
    margin: $spacing-vertical $spacing-horizontal;

    &-header {
      border-bottom: $border-width-base $border-style $border-color;
    }
  }
}
